body{
    width: 50%;
    font-size: 20px;
   
    margin:auto;
    box-sizing:border-box;
    
}
.info{
    border: 2px solid brown;
    padding: 10px;
    width: 500px;
    margin: 50px auto;
    
}
h2{
    
    color:aqua;
    background-color: black;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px ;
    margin:-10px -10px -10px -10px;
    text-align: center;
}
.label{
    display: inline;
    width: 80px;
    color: black;
    
    padding-left: 10px;

}

.value{
    color:blueviolet;
    font-weight: bold;
    padding-left: 50px;
    display:inline-block;
}
.value1{
    margin: 25px;
   color:blueviolet;
}