p>img{
    width: 20%;
    height: 150px;
    padding:10px;
    margin:5px;
    border-radius: 10px;
    background-color: yellow;
    box-shadow: 5px 20px blue;

}
p>img:hover{
    box-shadow: 7px 20px red;
    background-color: aqua;
}