.column {
    width: 25%;
    float: left;
    
}

.san-pham {
    border-radius: 10px;
    box-shadow: 2px 5px gray;
    padding: 10px;
    margin: 5px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.san-pham .ten{
    font-size: large;
    font-variant: small-caps;
    color: blue;

}
.san-pham img{
    max-width: 95%;
    justify-content: center;
}

.san-pham.gia{
    color:red;
    font-weight: bold;
    font-size: larger;

}

.san-pham.gia del{
    color:gray;
}